/* css for phone  */

.packages{
    margin: 2rem;
    
      }
.packages .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
  }

  .packages .box-container .box{
    flex:1 2 10rem;
    border-radius: .5rem;
    overflow:hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  }

  .packages .box-container .box .content p{
    font-size:1.7rem;
    color:#666;
    padding:1rem 0;
    display: none;
  }