:root{
    --orange:#ffa500;
  }

  .packages{
margin: 5rem;

  }

.packages .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
  }
  
  .packages .box-container .box{
    flex:2 2 25rem;
    border-radius: .5rem;
    overflow:hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  }
  
  .packages .box-container .box img{
    height: 25rem;
    width:100%;
    object-fit: cover;
  }
  
  .packages .box-container .box .content{
    padding:2rem;
  }
  
  .packages .box-container .box .content h3{
    font-size:2rem;
    color:#333;
  }
  
  .packages .box-container .box .content h3 i{
    color:var(--orange);
  }
  
  .packages .box-container .box .content p{
    font-size:1.7rem;
    color:#666;
    padding:1rem 0;
  }
  
  
  
  .packages .box-container .box .content .price{
    font-size: 2rem;
    color:#ffa500;
    padding-top: 1rem;
  }
  
  
  
  